config MACH_HISENSE_SMARTPHONE
	default n
	bool "HISENSE SMARTPHONE"
	help
	  Support for the hisense samrtphone board.

config HISENSE_VENDOR_NAME
	depends on MACH_HISENSE_SMARTPHONE
	string "Hisense vendor info"
	default ""
	help
	  The vendor name of product.

config HISENSE_PRODUCT_NAME
	depends on MACH_HISENSE_SMARTPHONE
	string "Hisense product info"
	default ""
	help
	  The product name.

config HISENSE_PRODUCT_DEVINFO
	depends on MACH_HISENSE_SMARTPHONE
	bool "device info register of product"
	help
	  Provide a methed to register the peripheral device
	  infomation of product.

config HISENSE_BOOT_INFO
	bool "Hisense Boot information"
	depends on MACH_HISENSE_SMARTPHONE
	default n
	help
	  The information of booting system.

config HISENSE_USB_FEATURE
	bool "enable hisense usb feature"
	depends on MACH_HISENSE_SMARTPHONE
	default y
	help
		Enable the config if enable hisense usb feature .
		If unsure, say N